/* CSS Document */
header {
	/*box-shadow: 0px 3px 3px #c9c9c9;*/
	border-bottom: solid 2px #666666;
	padding-top:10px;
}
.h1{
	display:inline-block;
	position:relative;
	top: 5px;
}
.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

img, svg {
	max-width:100%;
	max-height:100%;
}
.logo {
	text-decoration:none;
}
.logo img, .logo svg {
	height: 60px;
	margin-bottom:10px;
	margin-right:10px;
}
.menu {
	height: 55px;
    display: inline-block;
}

/* Boton luz-oscuridad */
.toggle__wrapper {
	display:inline-block;
	height: 30px;
	position:absolute !important;
	right:10px;
	top:30px;
	width:60px;
}
.toggle__wrapper input[type='radio'] {
  margin: 0 -2px 0 -2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.toggle__background {
  background: #ffffff;
  background: linear-gradient(90deg,rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 30px;
  box-shadow: 0px 0px 2px #000;
  pointer-events: none;
}
.toggle__button {
  position: absolute;
  left: 3px;
  top: 2px;
  right: 100%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  border:solid 2px #000000;
  transition: all 150ms ease-in-out;
}

.toggle__wrapper #dark:checked ~ .toggle__button {
  left: 30px;
}

.carousel-item {background-color:#d2d2d2;}
.space {height:20px;}